In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import shutil

pd.options.display.float_format= "{:,.2f}".format

In [2]:
df = pd.read_csv("../artifacts/reports.csv")
df.drop("Unnamed: 0", axis=1, inplace=True)
df.set_index("Metrics", inplace=True)
df

                      Values
Metrics
total_records          20400
total_Columns              9
null_counts             1231
primary_key_check       True
primarykey_duplicates    400
duplicate_count          398
missing_columns            0

In [26]:
df.loc["total_records", "Values"]

'20400'

In [3]:
required_metrics = [
 'null_counts',
 'primarykey_duplicates',
 'duplicate_count',
 'missing_columns'
 ]

In [ ]:
def divide(new_df, df):
    try:
        value = (int(new_df.loc["missing_columns", 'Values']) / int(df.loc["total_Columns", "Values"]))*100
    except:
        value =0
    return value

In [22]:
new_df = df[df.index.isin(required_metrics)]
new_df.loc["null_counts", "Pct"] =  (int(new_df.loc['null_counts', 'Values'])/int(df.loc["total_records", "Values"]))*100
new_df.loc["primarykey_duplicates", "Pct"] =  (int(new_df.loc['primarykey_duplicates', 'Values'])/int(df.loc["total_records", "Values"]))*100
new_df.loc["duplicate_count", "Pct"] =  (int(new_df.loc['duplicate_count', 'Values'])/int(df.loc["total_records", "Values"]))*100
new_df.loc["missing_columns", 'Pct'] = divide(new_df, df)

/var/folders/xf/_6m_tb052fn5p84tlt773rqr0000gn/T/ipykernel_81268/3317359113.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc["null_counts", "Pct"] =  (int(new_df.loc['null_counts', 'Values'])/int(df.loc["total_records", "Values"]))*100

In [27]:
new_df.to_csv("../artifacts/final_reports.csv", index=True)

In [3]:
df = pd.read_csv("../artifacts/final_reports.csv")
df.head()

                 Metrics  Values  Pct
0            null_counts    1231 6.03
1  primarykey_duplicates     400 1.96
2        duplicate_count     398 1.95
3        missing_columns       0 0.00

In [4]:
df.Metrics.tolist()

['null_counts', 'primarykey_duplicates', 'duplicate_count', 'missing_columns']

In [5]:
df.Values.tolist()

[1231, 400, 398, 0]

In [15]:
data_dict = {
    "20250120": 30000,
    "20250121": 24000,
    "20250122": 10000,
    "20250123": 40000,
    "20250124": 10000,
    "20250125": 9000,
    "20250126": 10000
}

dummy = pd.DataFrame(list(data_dict.items()), columns=["Date", "Value"])
dummy.to_csv("../artifacts/data_records.csv")
dummy.head()

       Date  Value
0  20250120  30000
1  20250121  24000
2  20250122  10000
3  20250123  40000
4  20250124  10000